@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #66BB6A;
  width: 119.1rem;
  height: 7vh;
  padding-left: 10%;
  padding-top: 10px;
  font-family: "Sansita Swashed", system-ui;
  font-size: 25px;
}
* header .headeratividades {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-right: 10vh;
  text-align: center;
}
* header .headercadastrese {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: Bold;
  font-size: 20px;
  margin-right: 10vh;
}
* h2 {
  font-size: 35px;
  display: block;
  width: 256px;
  height: 60px;
  top: 31px;
  left: 207;
  display: inline;
  display: inline-block;
  width: 50%;
  color: white;
}
* nav {
  display: inline-block;
  width: 40%;
  text-align: end;
}
* a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.background {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  background-color: #A5D6A7;
  width: 119.1rem;
  height: 35.75rem;
  top: 7.688rem;
  background-image: url("./Assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.itensbackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-left: 15rem;
}

.queroservoluntario {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 250px;
  height: 60px;
  background-color: #66BB6A;
  color: #ffffff;
  border: none;
  padding: 30px 40px;
  border-radius: 40px;
  font-size: 20px 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  margin-right: 517px;
  margin-left: 270px;
}

.h1queroser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 797px;
  height: 56;
  top: 408.56px;
  left: 322px;
  right: 322px;
  opacity: 1;
  color: #ffffff;
  font-size: 70px;
  margin-bottom: 50px;
  margin-top: 90px;
  font-family: "Sansita Swashed", system-ui;
  margin-right: 517px;
  margin-left: 225px;
}

.pqueroser {
  display: flex;
  align-items: center;
  justify-self: center;
  position: center;
  color: #ffffff;
  opacity: 1;
  font-family: Roboto;
  font-weight: 90;
  font-size: 23px;
  text-align: center;
  width: 600px;
  margin-right: 16rem;
}

.cards {
  display: flexbox;
  justify-content: center;
  background-color: #ffffff;
  width: 80%;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  gap: 10vh;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5254901961);
  background-color: #f4f4f4;
  width: 20vw;
  height: 60vh;
  top: 811px;
  left: 42.88px;
  border-radius: 20px;
  text-align: center;
  margin-top: 15vh;
}
.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  margin-top: 10px;
  margin-bottom: 2rem;
}
.card p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 15px 10px;
  padding-bottom: 1vh;
}
.card button {
  display: flexbox;
  justify-content: center;
  border-color: solid;
  box-shadow: #000000;
  background-color: #66BB6A;
  color: #ffffff;
  margin-top: 7rem;
  margin-bottom: 10%;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.backgroundform {
  background-color: #A5D6A7;
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}

.cadastre-sevol {
  font-family: "roboto", system-ui;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.façaparte {
  font-family: "roboto", system-ui;
  font-size: 1.125rem;
  margin-bottom: 40px;
  color: #000000;
  text-align: center;
  width: 60%;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A5D6A7;
  width: 80%;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  gap: 10vh;
  padding-bottom: 50px;
}/*# sourceMappingURL=style.css.map */