
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

//padding-left: 50px; Move o conteúdo 50px para a direita internamente
//padding-top: 50px; Move o conteúdo 50px para baixo internamente
//padding-right: 50px; Move o conteúdo 50px para a esquerda internamente
//padding-bottom: 50px; Move o conteúdo 50px para cima internamente


header{
    background-color: #66BB6A;
    width: 100%;
    height: 7vh;
    padding-left: 10%;
    padding-top: 10px;
    font-family: "Sansita Swashed", system-ui;
    //padding-left: 50px;
    //padding-top: 50px;
    //margin-top: 20px; //Move o header 20px para baixo externamente
    //margin-left: 20px; //Move o header 20px para a direita externamente
.headeratividades{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;

}
.headercadastrese{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: Bold;
    font-size: 17px;
}
}


h2{
        
    display:block; //Ocupa toda a linha (horizontal/largura) independente do tamanho do elemento, comportamento de <div>, <h1>, <p>, etc;
    width: 256px;
    height: 60px;
    top: 31px;
    left: 207;
    display: inline; //Ocupa somente o tamanho do conteúdo/elemento, comportamento da tag <a> e <span>;

    display: inline-block; //Combinação dos dois comportamentos acima;
    width: 50%;
    color: white;

}

nav{
    //background-color: rgb(100, 149, 237);
    display: inline-block;
    width: 40%;
    text-align: end;


}

a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}


}

.background{
    background-color: #A5D6A7;
    width: 2,440px;
    height: 500px;
    left: 50px;
    right: 200px;
    top: 123px;
    padding-left:30%;
    padding-top: 5%;
    background-image: url("./Assets/background.png");
    background-repeat: no-repeat;

    background-size: cover;

}

.queroservoluntario{
    width: 220px;
    height: 56px;
    background-color: #66BB6A;
    color: #ffffff;
    border: none;
    padding: 17px 30px;
    border-radius: 40px;
    font-size: 14px 10px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    margin-top: 90px;
    margin-right: 517px;
    margin-left: 260px;
    

    

}

.h1queroser{
width: 797px;
height: 56;
top: 408.56px;
left: 322px;
right: 322px;
opacity: 1;
color: #ffffff;
font-size: 60px;
margin-bottom: 50px;
margin-top: 90px;
font-family: "Sansita Swashed", system-ui;
margin-right: 517px;
margin-left: 220px;


}
.pqueroser{
color: #ffffff;
width: 797;
height: 10px;
top: 408.56px;
left: 322px;
right: 322px;
opacity: 1;
font-family: Roboto;
font-weight: 50;
font-size: 19px;
letter-spacing:10%;
text-align: center;
margin-right: 517px;
margin-left: 100px;



}


.imagemcards{

width: 1440px;
height: 660px;
left: 0px;
top: 694px;

background: #94ff1a;

}
.imagem1{
    /* girassol */

border-radius: 20px;
width: 311px;
height: 197px;
left: -3px;
top: 0px;
margin-bottom: 10px;

}

